<template>
  <div>
    <h2>About</h2>
    <p>SmashBreak is a private Super Smash Bros. leaderboard used for groups to compare their match performance.</p>
  </div>
</template>

<style scoped>
</style>
