<template>
  <div
      class="container"
      v-if="$store.getters.getCharacters.length"
  >
    <div class="grid">
      <div
          class="character-item"
          v-for="character in $store.getters.getCharacters"
          :key="character.CharacterID"
      >
        <CharacterIcon
            size="large"
            :id="character.CharacterID"
            :name="character.Code"
        />
        <span>{{ $t('characters.' + character.Code) }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import CharacterIcon from "../components/CharacterIcon";

export default {
  components: {
    CharacterIcon
  }
};
</script>

<style scoped>
.grid {
  column-count: 1;
  column-gap: 2rem;
}

.character-item {
  display: flex;
  align-items: center;
  width: 100%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 1rem;
}

.character-item span {
  font-size: 20px;
  margin-left: 1rem;
}

@media only screen and (min-width: 768px) {
  .grid {
    column-count: 2;
  }
}

@media only screen and (min-width: 992px) {
  .grid {
    column-count: 4;
  }
}
</style>
