<template>
  <div
    class="container"
    v-if="!loading"
  >
    <MatchCard
      class="match"
      :match="match"
      :full="true"
    />
  </div>
</template>

<script>
import MatchCard from "../components/MatchCard";

export default {
  components: {
    MatchCard
  },
  computed: {
    match() {
      return this.$store.getters.getMatch(this.$route.params.id);
    }
  },
  async mounted() {
    await this.$store.dispatch("loadMatch", this.$route.params.id);
    this.loading = false;
  },
  data() {
    return {
      loading: true
    };
  }
};
</script>
