<template>
  <div
      class="container"
      v-if="$store.getters.getMatchList.length"
  >
    <div class="grid">
      <MatchCard
        v-for="match in $store.getters.getMatchList"
        :key="match.MatchID"
        :match="match"
        :full="false"
        class="match"
      />
    </div>
  </div>
</template>

<script>
import MatchCard from "../components/MatchCard";

export default {
  components: {
    MatchCard
  },
  created() {
    this.$store.dispatch("loadMatchList");
  }
};
</script>

<style scoped>
.grid {
  column-count: 1;
  column-gap: 2rem;
}

.match {
  display: block;
  width: 100%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

@media only screen and (min-width: 768px) {
  .grid {
    column-count: 2;
  }
}

@media only screen and (min-width: 992px) {
  .grid {
    column-count: 3;
  }
}
</style>
