<template>
  <div
    class="container"
    v-if="player !== null"
  >
    <PlayerCard
      class="player"
      :id="player.id"
      :name="player.name"
      :character="player.character"
      :full="true"
    />
  </div>
</template>

<script>
import axios from "axios";
import api from "../apiHelper";
import PlayerCard from "../components/PlayerCard";

export default {
  components: {
    PlayerCard
  },
  data() {
    return {
      player: null
    };
  },
  async mounted() {
    const player = await axios.get(api.getPlayer + this.$route.params.id);
    this.player = player.data;
  }
};
</script>
