<template>
  <div class="container">
    <div class="grid">
      <PlayerCard
        v-for="player in $store.players"
        :key="player.id"
        :id="player.id"
        :name="player.name"
        :character="player.character"
        :full="false"
        class="player"
      />
    </div>
  </div>
</template>

<script>
import PlayerCard from "../components/PlayerCard";

export default {
  components: {
    PlayerCard
  },
  created() {
    this.$store.match.dispatch("appendMatches");
  }
};
</script>

<style scoped>
.grid {
  column-count: 1;
  column-gap: 2rem;
}

.player {
  display: block;
  width: 100%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

@media only screen and (min-width: 768px) {
  .grid {
    column-count: 2;
  }
}

@media only screen and (min-width: 992px) {
  .grid {
    column-count: 3;
  }
}
</style>
