<template>
  <div class="stat">
    <p class="lead">{{name}} : </p>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped>
.lead {
  display: inline;
  vertical-align: middle;
}
</style>
