<template>
  <div
    class="character"
    :class="size"
    :title="$t('characters.' + name)"
    v-b-tooltip.hover
  >
    <div class="image">
      <img v-if="name !== undefined" :src="require(`../assets/characters/${id}.png`)"/>
      <img v-if="name === undefined" :src="undefinedImage"/>
    </div>
  </div>
</template>

<script>
import Tooltip from "bootstrap-vue/es/directives/tooltip/tooltip";
import Vue from "vue";
import undefinedImage from "../assets/characters/undefined.png";

Vue.directive("b-tooltip", Tooltip);

export default {
  data() {
    return {
      undefinedImage
    };
  },
  props: {
    id: {
      type: Number,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    size: {
      type: String,
      default: "normal",
      required: false,
      validator: function(value) {
        return ["small", "normal", "large"].indexOf(value) !== -1;
      }
    }
  }
};
</script>

<style scoped>
.character {
  display: inline-block;
  margin: 0 0.125rem;
  position: relative;
}

.image {
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px;
}

.image img {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
}

.large .image {
  height: 48px;
  width: 48px;
}

.normal .image {
  height: 32px;
  width: 32px;
}

.small .image {
  height: 20px;
  width: 20px;
}
</style>
