<template>
  <router-link
    :to="'/player/' + id"
    class="player"
  >
    <Card
      :title="String(position)"
      :class="winner"
    >
      <CharacterIcon
        :size="position === 1 ? 'large' : 'normal'"
        :id="characterId"
        :name="characterName"
      />
      <h3 class="name">{{ name }}</h3>
      <p class="card-text">{{ computedTime }}</p>
      <div class="kills">
        <CharacterIcon
          :size="position === 1 ? 'normal' : 'small'"
          v-for="kill in playerKills"
          :key="kill.MatchKillID"
          :id="kill.CharacterID"
          :name="getCharacterName(kill.CharacterID)"
        />
      </div>
    </Card>
  </router-link>
</template>

<script>
import Card from "bootstrap-vue/es/components/card/card";
import CharacterIcon from "./CharacterIcon";

export default {
  components: {
    Card,
    CharacterIcon
  },
  computed: {
    computedTime() {
      if (this.playTime === null) {
        return null;
      }

      const seconds = this.playTime % 60;
      return Math.floor(this.playTime / 60) + ":" + seconds;
    },
    playerKills() {
      const context = this;
      return this.player.Kills
        ? this.player.Kills.map(kill => {
            return context.matchPlayers.find(
              player => player.MatchPlayerID === kill.KilledMatchPlayerID
            );
          })
        : [];
    }
  },
  data() {
    return {
      id: this.player.MatchPlayerID || 0,
      position: this.index + 1,
      name: this.player.Tag.Text || "N/A",
      characterName: this.player.CharacterID
        ? this.$store.getters.getCharacters.find(
            x => x.CharacterID === this.player.CharacterID
          ).Code
        : "N/A",
      characterId: this.player.CharacterID || 0,
      playTime: this.player.PlayTime,
      winner: this.player.PlayTime === null ? "winner" : ""
    };
  },
  methods: {
    getCharacterName(id) {
      return id
        ? this.$store.getters.getCharacters.find(x => x.CharacterID === id).Code
        : "N/A";
    }
  },
  props: {
    index: {
      type: Number,
      required: true
    },
    player: {
      type: Object,
      required: true
    },
    matchPlayers: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped>
.player {
  color: #2c3e50;
}

.player > .card {
  border: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  border-radius: 0;
  margin: 0.5rem 0;
}

.player:last-of-type > .card {
  border: 0;
  margin: 0.5rem 0 -0.5rem 0;
}

.player .card-body {
  position: relative;
  padding: 0 0 0 2rem;
  min-height: 80px;
}

.player .card:not(.winner) .card-body {
  min-height: 56px;
}

.player .card-title {
  font-size: 72px;
  display: inline;
  position: absolute;
  top: -8px;
  left: -4px;
  font-weight: bold;
}

.player .card:not(.winner) .card-title {
  font-size: 48px;
  top: -4px;
  left: 0;
}

.player .name {
  display: inline;
  margin-left: 0.25rem;
  line-height: 1;
  vertical-align: top;
}

.player .card:not(.winner) .name {
  font-size: 16px;
}

.player .card-text {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 24px;
}

.player .kills {
  margin-top: -1.25rem;
  margin-left: 3.5rem;
}

.player .card:not(.winner) .kills {
  margin-top: -0.75rem;
  margin-left: 2.5rem;
}
</style>
