<template>
  <Card
    :title="date"
    class="match"
  >
    <div
      v-if="!full"
      class="external"
    >
      <router-link :to="'/match/' + id">
        <fa icon="external-link-alt" />
      </router-link>
    </div>
    <h5>{{ stocks }} stock match</h5>
    <h4>{{ stage }}</h4>
    <MatchPlayer
      v-for="(player, index) in orderedPlayers"
      :key="index"
      :player="player"
      :index="index"
      :match-players="players"
      :show-kills="full"
    />
  </Card>
</template>

<script>
import Card from "bootstrap-vue/es/components/card/card";
import MatchPlayer from "./MatchPlayer";
import format from "date-fns/format";

export default {
  components: {
    Card,
    MatchPlayer
  },
  computed: {
    orderedPlayers() {
      const copy = this.players.slice();
      const winner = copy.find(item => item.PlayTime === null);
      copy.sort((a, b) => b.PlayTime - a.PlayTime);
      copy.splice(-1);
      return [winner, ...copy];
    }
  },
  data() {
    return {
      id: this.match.MatchID || 0,
      stage: this.match.StageID
        ? this.$store.getters.getStages.find(
            x => x.StageID === this.match.StageID
          ).Code
        : "",
      date: format(this.match.PlayedOn, "YYYY-MM-DD HH:mm:ss") || "",
      players: this.full ? this.match.Players : [],
      stocks: this.match.StockCount || 0
    };
  },
  props: {
    match: {
      type: Object,
      required: true
    },
    full: {
      type: Boolean,
      default: true,
      required: false
    }
  }
};
</script>

<style scoped>
.match {
  text-align: left;
  border: none;
}

.match > .card-body {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.35);
  margin-bottom: 2rem;
  border-radius: 0 0 10px 10px;
}

.match::before {
  content: "";
  background: rgb(212, 104, 104);
  height: 0.5rem;
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

.match h4 {
  font-size: 16px;
  font-weight: bold;
}

.external {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
</style>
