<template>
  <Card
    :title="name"
    class="player"
  >
    <div
      v-if="!full"
      class="external"
    >
      <router-link :to="'/player/' + id">
        <fa icon="external-link-alt" />
      </router-link>
    </div>
    <CardNameValue
      class="mainChar"
      name="Main character"
    >
      <CharacterIcon
        class="mainCharIcon"
        size="large"
        :name="$t('character.' + character)"
      />
    </CardNameValue>
  </Card>
</template>

<script>
import Card from "bootstrap-vue/es/components/card/card";
import CharacterIcon from "./CharacterIcon";
import CardNameValue from "./CardNameValue";

export default {
  components: {
    Card,
    CharacterIcon,
    CardNameValue
  },
  props: {
    player: {
      type: Object,
      required: true
    },
    full: {
      type: Boolean,
      default: true,
      required: false
    }
  }
};
</script>

<style scoped>
.player {
  text-align: left;
  border: none;
}

.player > .card-body {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.35);
  margin-bottom: 2rem;
  border-radius: 0 0 10px 10px;
}

.player::before {
  content: "";
  background: rgb(212, 104, 104);
  height: 0.5rem;
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

.player h4 {
  font-size: 32px;
  font-weight: bold;
}

.external {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.mainCharIcon {
  vertical-align: middle;
}
</style>
