<template>
  <div id="app">
    <router-link id="logo" to="/">
      <h1>Smash<span class="red">{Break}</span></h1>
    </router-link>
    <div id="nav">
      <router-link to="/">Matches</router-link> |
      <router-link to="/players">Players</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
    <footer>
      <p>
        Made with <fa icon="heart" /> by
        <a target="_blank" href="https://www.nmedia.ca/nmediens/francois-allard">François Allard</a> &
        <a target="_blank" href="https://www.nmedia.ca/en-CA/nmedians/francis-pion">Francis Pion</a>
      </p>
      <p>
        &copy; 2018 |
        <router-link to="/terms">Terms and conditions</router-link> |
        <router-link to="/privacy">Privacy policy</router-link>
      </p>
    </footer>
  </div>
</template>

<script>
export default {
  created() {
    this.$store.dispatch("loadData");
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

#app {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 30px;
}

#nav {
  padding: 10px;
}

a {
  font-weight: bold;
  color: #2c3e50;
}

a.router-link-exact-active {
  color: #2c8bb9;
}

#logo {
  color: #2c3e50;
}

#logo h1 {
  display: inline;
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  margin: 0;
}

#logo:hover {
  text-decoration: none;
}

#logo .red {
  color: rgb(212, 104, 104);
}

footer {
  margin-top: 2rem;
}

footer p {
  margin-bottom: 0;
}
</style>
